.nav-top{
    background-color: rgb(94, 152, 196);    
}

.nav-link{
    color: white;
}

footer{
    background-color: rgb(94, 152, 196) !important;
    color: white !important;
    text-align: center !important;
}

.car-img{
    max-height: 900px !important;
}

.carousel-caption{
    background-color: rgba(94, 152, 196, 0.48) !important;
}

.divisão{
    background-color:rgb(94, 152, 196) ;
    text-align: center;
    color: white;
    padding: 2em;
}

.sec-pacotes{
    margin-left: 10% !important;
    margin-right: 10% !important;
    justify-content: center !important;
    margin-bottom: 1%;
}

.card{
    padding: 1% !important;
    margin: 0% 1% 1%;
}

.card p{
    text-align: justify !important;
}

.card h4{
    color: rgb(23, 91, 144);
}


    
.links {
    text-align: center !important;
    padding: 1em !important;
    color: rgb(0, 0, 0) !important;
    padding: 4% 0% 0% 5% !important;
}

.mapa{
    margin-top: 10%!important;
}

.sec-contatos{
    margin-bottom: 10% !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
    margin-top: 5% !important;
}


